<% @cookbooks.each do |book| %>
	<div class="col-md-3" align="center">
		<div class="ind-book"><br>
			<%= image_tag(book.book_cover.url, :class => "bookcover-resize") %><br>
			<h3><%= link_to book.title, cookbook_path(book) %></h3>
			<%= book.description %><br><br>
			<% if logged_in? %>
				<% if current_user == book.user || current_user.the_admin? %>
					<% if current_user == book.user %>	
						<%= button_to "Edit", edit_cookbook_path(book), method: :get, class: 'btn btn-warning' %>
					<% end %>
					<%= button_to "Del", cookbook_path(book), method: :delete, class: 'btn btn-danger' %>
					<%= button_to "See", cookbook_path(book), method: :get, class: 'btn btn-success' %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>