<h1>Cookbooks#index</h1>
<p>Find me in app/views/cookbooks/index.html.erb</p>
<%= button_to "Create Cookbook", new_cookbook_path, method: :get %>
<% @cookbooks.all.each do |book| %>
<%= link_to book.title, cookbook_path(book) %><br>
<%= book.description %><br>
<% if book.public == true %>
Public
<% else %>
Private
<% end %><br>
<%= button_to "Edit", edit_cookbook_path(book), method: :get %>
<%= button_to "Delete", cookbook_path(book), method: :delete %><br><br>
<% end %>

