<h1>Cookbooks#index</h1>
<p>Find me in app/views/cookbooks/index.html.erb</p>
<% if !current_user.the_pretty_admin? %>
<%= button_to "Create Cookbook", new_cookbook_path, method: :get %>
<% end %>
<% @cookbooks.all.each do |book| %>
<%= link_to book.title, cookbook_path(book) %><br>
<%= book.description %><br>
<% if book.public == true %>
Public
<% else %>
Private
<% end %><br>
<% if current_user == book.user || current_user.the_pretty_admin? %>
	<% if current_user == book.user %>	
	<%= button_to "Edit", edit_cookbook_path(book), method: :get %>
	<% end %>
	<%= button_to "Delete", cookbook_path(book), method: :delete %><br><br>
<% end %>
<% end %>

