<% @title="WC? | #{@cookbook.title}" %>

<% if @cookbook.public == true || current_user == @cookbook.user %>

	<div align="center">
		<h1><%= @cookbook.title %></h1>
		<p>by <%= link_to @cookbook.user.username, user_path(@cookbook.user) %></p>
	</div>

	<h4 align="center"><%= will_paginate @recipes %></h4>
	<% if logged_in? %>
		<% if current_user == @cookbook.user %>
			<%= button_to "Add Recipe", new_cookbook_recipe_path(@cookbook), method: :get, class: "btn btn-primary col-md-12" %>
		<% else %>
			<% if @cookbook.subscriptions.find_by(user_id: current_user.id) == nil %>
				<%= button_to "Subscribe", cookbook_subscriptions_path(@cookbook), class: "btn btn-primary btn-block" %>
			<% else %>
				<%= button_to "Unsubscribe", cookbook_subscription_path(cookbook_id: @cookbook.id, user_id: current_user.id), method: :delete, class: "btn btn-danger btn-block btn-custom" %>
			<% end %><br>
		<% end %>
	<% end %>

	<% if @cookbook.subscriptions.count > 0 %>
		<% num = 0 %><br>
		<u>Subscribers:</u><br> 
		<% @cookbook.subscriptions.all.each do |subscribers| %>
			<a href="/users/<%= subscribers.user_id %>"><%= image_tag(User.find(subscribers.user_id).avatar.url, :class => "subscriber-resize") %></a>
			<%= image_tag(User.find(subscribers.user_id).avatar.url, :class => "subscriber-resize") %>&nbsp;
			<% num += 1 %>
			<% if num >= 10 %>
				<b>+</b>
				<break>
			<% end %>
		<% end %>
	<% end %><br>

	<%= render :partial => 'recipes/recipelist' %>

	<br>

<% else %>

	<div class="notice">
		<p>Sorry, the user has privated this cookbook.</p>
	</div>

<% end %>