<% @title="WC? | #{@cookbook.title}" %>

<% if @cookbook.public == true || current_user == @cookbook.user %>

	<div align="center">
		<h1><%= @cookbook.title %></h1>
		<p>by <%= link_to @cookbook.user.username, user_path(@cookbook.user) %></p>
	</div>

	<h4 align="center"><%= will_paginate @recipes %></h4>
	<% if logged_in? %>
		<% if current_user == @cookbook.user %>
			<%= button_to "Add Recipe", new_cookbook_recipe_path(@cookbook), method: :get, class: "btn btn-primary col-md-12" %>
		<% else %>
			<% if @cookbook.subscriptions.find_by(user_id: current_user.id) == nil %>
			<span id="subscribe">
				<%= button_to "Subscribe", cookbook_subscriptions_path(@cookbook), class: 'btn btn-primary btn-block', remote: true %>
			</span>
			<% else %>
			<span id="unsubscribe">
				<%= button_to "Unsubscribe", cookbook_subscription_path(cookbook_id: @cookbook.id, user_id: current_user.id), method: :delete, class: "btn btn-primary btn-block btn-custom", remote: true %>
			</span>				
			<% end %>
			<span id="subscription-success" style="display: none">
				<%= button_to "Unsubscribe", cookbook_subscription_path(cookbook_id: @cookbook.id, user_id: current_user.id), method: :delete, class: "btn btn-primary btn-block btn-custom", remote: true %>
			</span>
			<span id="subscription-cancel" style="display: none">
				<%= button_to "Subscribe", cookbook_subscriptions_path(@cookbook), class: 'btn btn-primary btn-block', remote: true %>
			</span>
		<% end %>
	<% end %>
	<br>
	<u>Subscribers:</u>
	<div id="subscriber-list">
		<% if @cookbook.subscriptions.count > 0 %>
			<% num = 0 %><br>
			<% @cookbook.subscriptions.all.each do |subscribers| %>
				<% @subscribed_user = User.find(subscribers.user_id) %>
				<a href="/users/<%= subscribers.user_id %>">
					<% if @subscribed_user.avatar.blank? %>
						<img src="http://i452.photobucket.com/albums/qq244/missnpk93/defaultuser_zpsnsqypglf.png" class="subscriber-resize" title="<%= @subscribed_user.username %>">
					<% else %>
						<%= image_tag(@subscribed_user.avatar.url, :class => "subscriber-resize", title: @subscribed_user.username) %>
					<% end %>
				</a>
				<% num += 1 %>
				<% if num >= 10 %>
					<b>+</b>
					<break>
				<% end %>
			<% end %>
		<% else %>
		<span id="no-subscriber">
			<img src="http://www.publicdomainpictures.net/pictures/40000/velka/question-mark.jpg" class="subscriber-resize" title="No Subscribers Yet!">
		</span>
		<% end %>
		<span id='new-subscriber'></span>
	</div>

	<br>

	<%= render :partial => 'recipes/recipelist' %>

	<br>

<% else %>

	<div class="notice">
		<p>Sorry, the user has privated this cookbook.</p>
	</div>

<% end %>