<% @title="WC? | #{@cookbook.title}" %>

<% if @cookbook.public == true || current_user == @cookbook.user %>

	<div align="center">
		<h1><%= @cookbook.title %></h1>
		<p>by <%= link_to @cookbook.user.username, user_path(@cookbook.user) %></p>
	</div>

	<h4 align="center"><%= will_paginate @recipes %></h4>

	<% if current_user == @cookbook.user %>
		<%= button_to "Add Recipe", new_cookbook_recipe_path(@cookbook), method: :get, class: "btn btn-primary col-md-12" %>
	<% else %>
		<% if @cookbook.subscriptions.find_by(user_id: current_user.id) == nil %>
			<%= button_to "Subscribe", cookbook_subscriptions_path(@cookbook), class: "btn btn-primary btn-block" %>
		<% else %>
			<%= button_to "Unsubscribe", cookbook_subscription_path(cookbook_id: @cookbook.id, user_id: current_user.id), method: :delete, class: "btn btn-danger btn-block btn-custom" %>
		<% end %><br>
	<% end %>

	<% if @cookbook.subscriptions.count > 0 %>
		<% num = 0 %><br>
		<u>Subscribers:</u><br> 
		<% @cookbook.subscriptions.all.each do |subscribers| %>
			<a href="/users/<%= subscribers.user_id %>"><%= image_tag(User.find(subscribers.user_id).avatar.url, :class => "subscriber-resize") %></a>
			<%= image_tag(User.find(subscribers.user_id).avatar.url, :class => "subscriber-resize") %>&nbsp;
			<% num += 1 %>
			<% if num >= 10 %>
				<b>+</b>
				<break>
			<% end %>
		<% end %>
	<% end %><br>

	<ul>
		<% @recipes.each do |recipe| %>
			<li id="<%= recipe.id %>">
				<div class="col-md-12 recipe-table">
					<div class="col-md-3">
						<%= image_tag(recipe.image.url, :class => "recipe-resize") %>
					</div>
					<div class="col-md-9">
						<h4><%= recipe.title %>
							<% if current_user == @cookbook.user || current_user.the_pretty_admin? %>
								<% if current_user == @cookbook.user %>	
									[<%= link_to "Edit", edit_cookbook_recipe_path(recipe.cookbook, recipe) %>]
								<% end %>
							&nbsp;[<%= link_to "Delete", cookbook_recipe_path(recipe.cookbook, recipe), method: :delete, remote: true, :class => 'delete_recipe' %>]&nbsp;
							<% end %>
						</h4><br>

						<table>
							<tr>
								<td width="50%">
									<b>Ingredients:</b>
									<ol>
										<% recipe.ingredients.each do |x| %>
											<li><%= x %></li>
										<% end %>
									</ol>
								</td>
								<td width="50%">
									<b>Steps:</b>
									<ol>
										<% recipe.steps.each do |y| %>
											<li><%= y %></li>
										<% end %>
									</ol>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</li>
		<% end %>
	</ul>

	<br>

<% else %>

	<div class="notice">
		<p>Sorry, the user has privated this cookbook.</p>
	</div>

<% end %>