<!DOCTYPE html>
<html>
  <head>
    <title>FinalAssessmentRecipebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="col-xs-5 col-sm-5 col-md-3">
<%= render :partial => 'layouts/navbar' %>
  </div>
  <div class="col-xs-7 col-sm-7 col-md-9">
    <%= yield %>
    </div>
  </body>
</html>
