<!DOCTYPE html>
<html>
  <head>
    <title>FinalAssessmentRecipebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= form_tag(controller: "searches", action: "create", method: "post") do %>
  	  <%= label_tag(:query, "Search for:") %>
  	  <%= text_field_tag(:query) %>
  	  <%= submit_tag("Search") %>
  	  <% end %>
    <%= yield %>
  </body>
</html>
