<!DOCTYPE html>
<html>
    <head>
        <title><%= @title %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="icon" type="image/png" href="http://image.flaticon.com/icons/png/512/45/45332.png" />
    </head>

    <body>
        <div class="col-xs-5 col-sm-5 col-md-3">
            <%= render :partial => 'layouts/navbar' %>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-9">
            <%= yield %>
        </div>
    </body>
    
</html>
